<html>
<head>
    <title>Addresses - <%= result[0].address_name %></title>
</head>
<body>
    <h1>Addresses</h1>
    <ul>
        <li>School ID: <%= result[0].address_id%></li>
        <li>School Name: <%= result[0].address_name %></li>
        <li>Address ID: <%= result[0].address_id %></li>
    </ul>
</body>

</html>