<html>
<head>
    <title>Address - <%= result[0].street %></title>
</head>
<body>
    <h1>Address</h1>
    <ul>
        <li>Street Name: <%= result[0].street%></li>
        <li>Zip code: <%= result[0].zip_code %></li>
    </ul>
</body>

</html>